
/* ---------- ----- HEADER ----- ---------- */

.header {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 25% 100%, 0 75%);
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar {
    width: 100%;
    padding: 20px 40px;
}

.navbar__icon{
    display: none;
}

.navbar__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}

.navbar__list_item {
    /* ! list-style: none; */
}

.navbar__list_item a {
    color: var(--white);
}

.navbar__list_item a:hover {
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

#check{
    display: none;
}

.header__name {
    margin-top: 30px;
    font-size: 80px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__name span {
    color: var(--white);
    display: inline-block;
}

.header__name .name{
    color: var(--yellow);
    display: inline-block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;

    animation:  typing 4s steps(11) infinite,
                cursor .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    0%{width: 0;}
    50%{width: 100%;}
    75%{width: 100%;}
    100%{width: 0;}
}

@keyframes cursor {
    50%{border-color: transparent;}
}

.header__presentation {
    width: 950px;
    font-size: 50px;
    color: var(--white);
    margin-bottom: 20px;
}

.header_photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__photo_left,
.header__photo_right {
    background-color: var(--white);
    padding: 8px 30px;
    border-radius: 25px;
    box-shadow: 0px 3px 2px #8d848485, 0px 8px 0px #e6e6e685;
}

.header__photo_left {
    align-self: flex-start;
    position: relative;
    top: 25px;
    left: 80px;
}

.header__photo_main {
    /* ! ------------------- */
}

.header__photo_main img {
    width: 85%;
}

.header__photo_right {
    align-self: flex-end;
    position: relative;
    top: -25px;
    left: -80px;
}

.header__photo_right p,
.header__photo_left p {
    color: var(--text);
}

.header__photo_right span,
.header__photo_left span {
    color: var(--yellow);
    font-weight: 600;
}

.header__social {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header__social_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.header__social_item {
    /* ! ----------------- */
}

.header__social_item a {
    background-color: var(--white);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: transform 0.5s;
}

.header__social_item a:hover {
    transform: rotate(1turn) scale(1.1, 1.1);
    border: 2px solid var(--yellow);
}

.header__social_item a img {
    width: 24px;
    height: 24px;
}

/* ---------- ----- FORM ----- ---------- */

.box {
    width: 700px;
    height: 160px;
    margin: 0 auto;
    font-size: 18px;
    color: var(--text);
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -25px;
}

.box__label {
    font-weight: bold;
}

.box__form {
    width: 80%;
    height: 40px;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
}

.box__input {
    width: 60%;
    border: none;
    outline: none;
    margin-left: 25px;
    background-color: transparent;
}

.box__button {
    width: 160px;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    color: var(--white);
    border-radius: 25px;
    border: 2px solid transparent;
    background-color: var(--green);
}

.box__button:hover {
    border: 2px solid var(--green);
    background-color: var(--gray);
    color: var(--green);
}

/* ---------- ----- ABOUT ----- ---------- */

.about {
    width: 850px;
    color: var(--text);
    margin: 50px auto 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about__title {
    font-size: 50px;
}

.about__text {
    margin: 20px 0px 40px;
    padding-left: 40px;
    border-left: 5px solid var(--green);
}

.about__download {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--white);
    align-self: center;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #19ef5b;
}

.about__download:hover img {
    animation-name: download;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes download {
    from {
        transform: translate(0, -5px);
    }

    to {
        transform: translate(0, 5px);
    }
}

/* ---------- ----- STUDIES ----- ---------- */

.studies {
    width: 600px;
    color: var(--text);
    margin: 50px auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.studies__title {
    font-size: 50px;
    margin-bottom: 20px;
}

.studies__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.study_card {
    width: 280px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: var(--background);
}

.study_card_logo {
    /* !---------------- */
}

.study_card_name {
    width: 90px;
    font-weight: 600;
    text-align: center;
    line-height: 14px;
}

.study_card_time {
    font-size: 10px;
}

.study_card_career {
    width: 140px;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

/* ---------- ----- SKILLS ----- ---------- */

.skills {
    width: 600px;
    height: 325px;
    color: var(--text);
    margin: 50px auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skills__title {
    font-size: 50px;
    margin-bottom: 20px;
}

.skill {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill_info {
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill_name {
    font-weight: 600;
}

.skill_percent {
    font-weight: 600;
    color: var(--green);
}

.skill_bar {
    width: 100%;
    height: 12px;
    margin-top: 5px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--background);
}

.skill_bar_color {
    height: 100%;
    border-radius: 15px;
    background-color: var(--green);
}

.bar1 {
    width: 80%;
}

.bar2 {
    width: 95%;
}

.bar3 {
    width: 80%;
}

.bar4 {
    width: 75%;
}

/* ---------- ----- EXPERIENCE ----- ---------- */

.experience {
    width: 100%;
    color: var(--text);
    padding: 40px 0px;
    margin: 50px auto 15px;
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience__title {
    font-size: 50px;
    margin-bottom: 20px;
}

.experience__items {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.experience__item {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.experience__item_logo {
    width: 65px;
}

.experience__item_name {
    line-height: 18px;
    text-align: center;
}

.experience__item_time {
    font-weight: bold;
}

.btnI{
    display: none;
}

.btnD{
    display: none;
}

/* ---------- ----- BRIEFCASE ----- ---------- */

.briefcase {
    width: 950px;
    color: var(--text);
    margin: 50px auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.briefcase__title {
    font-size: 50px;
    margin-bottom: 20px;
}

.briefcase__projects {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 25px;
}

.briefcase_project {
    width: 300px;
    height: 250px;
    transition: transform 0.5s;
}

.briefcase_project:hover {
    transform: scale(0.9);
}

/* ---------- ----- CONTACT ----- ---------- */

.contact {
    width: 600px;
    color: var(--text);
    margin: 50px auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__title {
    font-size: 50px;
    margin-bottom: 20px;
}

.contact__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact_item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact_item a small {
    color: var(--text);
}

.contact_item a small:hover {
    color: var(--yellow);
}

.contact_mode {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: papayawhip;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_mode_icon {
    width: 65px;
}

.contact_mode_text {
    font-weight: bold;
}

.contact_mode_data {
    font-size: 12px;
}

/* ---------- ----- FOOTER ----- ---------- */

.footer {
    width: 100%;
    height: 180px;
    color: var(--gray);
    margin-top: 150px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer__title {
    font-size: 50px;
    font-weight: bold;
}

.footer__credits {
    /* ! ------------------- */
}

/* ---------- ----- BUTTON TOP ----- ---------- */

.button_top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    color: var(--yellow);
    border: 2px solid var(--yellow);
}
