
@media (max-width: 460px) {

    /* ---------- ----- HEADER ----- ---------- */

    .header__name {
        font-size: 32px;
    }

    .header__presentation {
        font-size: 26px;
        max-width: 300px;
    }
    .header__photo_left,
    .header__photo_right {
        padding: 10px 20px;
        font-size: 12px;
        line-height: 14px;
    }

    .header__social_icons {
        gap: 20px;
    }

    /* ---------- ----- FORM ----- ---------- */

    .box {
        width: 300px;
    }

    .box__button {
        width: 100px;
    }

    /* ---------- ----- ABOUT ----- ---------- */

    .about {
        max-width: 300px;
    }

    .about__title {
        font-size: 32px;
    }

    .about__text {
        font-size: 14px;
    }

    /* ---------- ----- STUDIES ----- ---------- */

    .studies {
        width: 300px;
    }

    .studies__title {
        font-size: 32px;
    }

    .studies__cards {
        flex-direction: column;
    }

    /* ---------- ----- SKILLS ----- ---------- */

    .skills {
        width: 300px;
    }

    .skills__title {
        font-size: 32px;
    }

    /* ---------- ----- EXPERIENCE ----- ---------- */

    .experience__title {
        font-size: 32px;
    }

    .experience__items {
        max-width: 300px;
    }

    /* ---------- ----- BRIEFCASE ----- ---------- */

    .briefcase {
        max-width: 300px;
    }

    .briefcase__title {
        font-size: 32px;
    }

    /* ---------- ----- CONTACT ----- ---------- */

    .contact {
        width: 300px;
    }

    .contact__title {
        font-size: 32px;
    }

    .contact_item {
        width: 200px;
    }

    .contact_mode {
        width: 80px;
        height: 80px;
    }

    .contact_mode_icon {
        width: 40px;
    }

    .contact_mode_text {
        font-size: 14px;
    }

    /* ---------- ----- FOOTER ----- ---------- */

    .footer__title {
        font-size: 32px;
    }

    /* ---------- ----- BUTTON FLOAT ----- ---------- */

    .button_top{
        display: none;
    }
}

@media (max-width: 395px){

    /* ---------- ----- HEADER ----- ---------- */

    .header__photo_left,
    .header__photo_right {
        width: 150px;
        padding: 5px 10px;
    }

}
