@import url("./desktop.css");
@import url("./tablet.css");
@import url("./mobile.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --green: #19ef5b;
    --yellow: #ef9919;
    --gray: #f9f5f2;
    --white: #ffffff;
    --text: #525252;
    --background: #b4b4b455;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a,
a:link,
a:hover,
a:visited {
    text-decoration: none;
}
