@media (max-width: 1000px) {

    /* ---------- ----- HEADER ----- ---------- */

    .navbar__list {
        justify-content: center;
        gap: 25px;
    }

    .header__presentation {
        max-width: 800px;
        font-size: 45px;
    }

    /* ---------- ----- ABOUT ----- ---------- */

    .about {
        max-width: 700px;
    }

    /* ---------- ----- BRIEFCASE ----- ---------- */

    .briefcase {
        max-width: 700px;
    }

    .briefcase__projects {
        justify-content: center;
    }

}

@media (max-width: 800px) {

    /* ---------- ----- HEADER ----- ---------- */

    .navbar {
        position: relative;
    }

    .navbar__icon {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 15;
    }

    .navbar__list {
        display: none;
    }

    .header__name {
        gap: 10px;
    }

    #check:checked + .navbar__list {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        background-color: var(--green);
        animation-name: menu;
        animation-duration: 1s;
    }

    @keyframes menu {
        from {
            height: 0px;
            background-color: var(--gray);
        }

        to {
            height: 100vh;
            background-color: var(--green);
        }
    }

    .header_photo {
        order: 1;
        margin-top: 50px;
    }

    .header__name {
        font-size: 36px;
        order: 2;
    }

    .header__presentation {
        font-size: 28px;
        order: 3;
        max-width: 450px;
    }

    .header__social {
        order: 4;
    }

    .header__photo_left,
    .header__photo_right {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 16px;
    }

    .header__photo_left {
        top: -20px;
        left: 50px;
    }

    .header__photo_right {
        top: 0px;
        left: -50px;
    }

    .header__social_icons {
        gap: 30px;
    }

    /* ---------- ----- FORM ----- ---------- */

    .box {
        width: 350px;
        text-align: center;
    }

    .box__form {
        width: 90%;
    }

    .box__input {
        width: 60%;
    }

    .box__button {
        width: 110px;
    }

    /* ---------- ----- ABOUT ----- ---------- */

    .about {
        max-width: 450px;
    }

    .about__title {
        font-size: 36px;
    }

    .about__text {
        padding-left: 20px;
    }

    .about br {
        display: none;
    }

    .about__download {
        width: 180px;
        height: 40px;
        gap: 15px;
    }

    /* ---------- ----- STUDIES ----- ---------- */

    .studies {
        width: 450px;
    }

    .studies__title {
        font-size: 36px;
    }

    .studies__cards {
        gap: 25px;
    }

    .study_card {
        width: 160px;
        height: 225px;
        gap: 10px;
    }

    .study_card_career {
        width: 110px;
    }

    /* ---------- ----- SKILLS ----- ---------- */

    .skills {
        width: 400px;
        height: 250px;
    }

    .skills__title {
        font-size: 36px;
        margin-bottom: 15px;
    }

    /* ---------- ----- EXPERIENCE ----- ---------- */

    .experience {
        width: 100%;
        padding: 40px 0px;
    }

    .experience__title {
        font-size: 36px;
    }

    .experience__items {
        justify-content: center;
    }

    /* ---------- ----- BRIEFCASE ----- ---------- */

    .briefcase {
        max-width: 450px;
    }

    .briefcase__title {
        font-size: 36px;
    }

    .briefcase__projects {
        gap: 10px;
    }

    .briefcase_project {
        width: 200px;
        height: 200px;
    }

    /* ---------- ----- CONTACT ----- ---------- */

    .contact {
        width: 450px;
    }

    .contact__title {
        font-size: 36px;
    }

    .contact_mode {
        width: 100px;
        height: 100px;
    }

    .contact_mode_icon {
        width: 50px;
    }

    /* ---------- ----- FOOTER ----- ---------- */

    .footer {
        width: 100%;
        height: 150px;
        margin-top: 100px;
    }

    .footer__title {
        font-size: 36px;
    }
}

@media (max-width: 750px) {
    .experience {
        position: relative;
    }
    
    .experience__items {
        width: 300px;
        padding: 5px 15px;
        justify-content: space-between;
        display: flex;
        gap: 50px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    .experience__items::-webkit-scrollbar {
        width: 0px;
    }
    
    .btnI, .btnD{
        color: white;
        position: absolute;
        top: calc(50% - 15px);
        width: 30px;
        height: 30px;
        background-color: orange;
        border-radius: 50%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btnI:hover, .btnD:hover{
        filter: brightness(0.9);
    }

    .btnI{
        left: 20px;
    }

    .btnD{
        right: 20px;
    }
}